package views

templ Index () {
	@head()
	@body()
}

templ head () {
	<head>
		<link href="/dist/output.css" rel="stylesheet"/>
		<script src="/assets/js/htmx.min.js"></script>
	</head>
}

templ body () {
	<body>
		<h1>Welcome </h1>
	</body>
}
